.root {
    padding-top: 25px;
    padding-bottom: 25px;

    width: 600px
}
.root > * {
    margin: auto;

    padding-bottom: 25px;
}
.root .root-btn {
    width: 150px
}

.login-btn-tools * {
    padding-left: 5px;
    padding-right: 5px;
}
